<html>
<head>
    <link rel="stylesheet" href="/css/styles.css"/>
    
</head>
<body>
      {{>header}}
    <p>{{name}}</p>
    <form>
    <input placeholder="Location">
    <button>Search</button>
    </form>
    {{>footer}}
    {{!-- <img src="/img/House_small.png"></img> --}}
    <script src="/js/app.js" ></script>
</body>

</html>